@CHARSET "UTF-8";

/* body전체 폰트 스타일,크기,색깔 셋팅 */
body{
   font-family:돋움, Arial, sans-serif;
   font-size:12px;
   color: #979797;   
}

/*#body부분(aside와 main)을 제외한 모든 영역에
1. 가운데 정렬
2. 너비:960px
3. 높이를 각 부모들(header와 footer)의 높이를 상속받음*/
.content-container{
   margin-left : auto; /* 왼쪽에 margin, 즉 오른쪽정렬 */
   margin-right : auto; /* 오른쪽에 margin, 즉 왼쪽정렬 */
   width : 960px;
   height : inherit; /* 부모의 값을 상속 */
   /* opacity : 0.5; 투명도 */   
}


/*clearfix(문서의 구조에서 부모 요소가 자식요소를 감싸고 있는 형태에서 자식에게 float요소를 적용하면
부모요소의 높이가 사라지면서 자식을 감싸지 않게 되므로 
사라진 부모요소의 높이를 되찾아 준다 */
.clearfix:after 
{
   /*after : 막내자식 - 가상의 자식을 만들어줌으로써 본문내용이 늘어나도 페이지 크기가 늘어나게 한다*/
   content: ".";
   clear:both;
   display: block;
   height: 0px;
   visibility: hidden;   
}

/*안보이게함*/
.hidden{
   /* display:공간도 없앰 / visibility:공간은 존재하되 보이지만 않음 */
   display: none; 
   /* visibility: hidden; */ 
}

/* -- #header ----------------------------------------------------------- */

/*header의 최소높이 설정 */
#header{
   min-height:70px;   
}


/* -----------------#header안에 #main-menu------------------ */

/* #main-menu에  inline-block으로 설정 */
#main-menu {
   border: 1px solid red;
   display : inline-block;
}

/* 메인메뉴의 각 리스트 아이템들(학습가이드/뉴렉과정/강좌선택) 각각을 
1. float:left로 해주고 
2. 왼쪽에 패딩을 주고
3. | 이미지를 넣음 */
#main-menu > ul > li{
   float:left;
   padding-left: 24px;   
   background:url("../images/bg-main-menu-vsp.png") no-repeat 13px center;
}
   
   /* 첫번째 리스트 아이템(학습가이드) 오버라이드
   1.왼쪽에 패딩을 주지않고
   2.| 이미지를 넣지 않음 */
   #main-menu > ul > li:FIRST-CHILD{
      /* FIRST-CHILD:첫번째 자식에 대한 속성 */
      padding-left:0px;
      background: none;   
   }

	/* <a>태그 안의 각 리스트 아이템들 이름("학습가이드","뉴렉과정","뉴렉과정")들을
	폰트 스타일,크기,굵기,색깔,꾸밈을 설정 */
   #main-menu > ul > li > a{
      font-family:맑은 고딕, sans-serif;
      font-size:15px;
      font-weight:bold;
      color: #000;
      text-decoration:none;            
   }
   
   /* 해당 아이템위에 마우스를 올렸을 때 
   1.밑줄생기고
   2.글씨가 빨간색으로 바뀜 */
   #main-menu > ul > li > a:HOVER{
      /* HOVER : 마우스 올렸을 때 */
      text-decoration: underline;
      color:red;
   }

/* -----------------#header안에 #join-menu------------------ */
/* 위 #main-menu와 같은 과정(한줄로 나열하고 첫 아이템을 제외하고 각 아이템 앞에 | 삽입) */

/* #join-menu에  inline-block으로 설정 */
#join-menu {
   border: 1px solid red;
   display : inline-block;
}

#join-menu > ul > li{
   float: left;
   padding-left: 9px;
   background:url("../images/bg-main-menu-vsp.png") no-repeat 5px center;
}

   #join-menu > ul > li:FIRST-CHILD{
      padding-left: 0px;
      background: none;
   }

   #join-menu > ul > li > a{
      font-family:맑은 고딕, sans-serif;
      font-size:10px;
      font-weight:bold;
      color: inherit;
      text-decoration: none;      
   }
   
   
/* -----------------#header안에 #member-menu------------------ */


#member-menu > ul > li{
   float: left;
}



/* -----------------#header안에 #lecture-search------------------ */

/* 검색 폼의 너비,높이,경계선 설정 */
#lecture-search{
   width:308px;
   height:25px;
   border:5px solid #8CBA34;
}
   /* label과 input의 크기를 설정하기위해 block으로 설정 */
   #lecture-search fieldset > label,
   #lecture-search fieldset > input{
      /* #lecture-search fieldset > * : hidden내용도 출력되므로 특정 범위 지정 */
      /* inline은 크기를 맞춰줄 수 없으므로 block 사용 */
      display:block;
      float: left;
   }
   
   #lecture-search label{
      line-height:25px; /* 줄높이(#lecture-search와 같게 함) */
      text-indent:5px; /* "강좌명"들여쓰기 */   
      
      font-weight:bold;
            
      width:55px;
      height:25px;
   }
   
   /*사용자가 검색어 입력하는 input박스의 너비와 높이 설정 */
   #lecture-search input[type='text']{      
      width: calc(100% - 86px);/* 222px; */
      height:25px;
      border:0px;            
   }

	/* 돋보기이미지(검색기능) 영역의 너비와 높이, 이미지 왼쪽에 경계선 그리기, 커서위로하면 pointer로 */
   #lecture-search input[type='submit']{         
      width:31px;
      height:25px;
      
      /* border-right:0px;
      border-top:0px;
      border-bottom:0px; */
      border:0px;
      border-left:1px solid #8CBA34;
      
      text-indent:-999px;
      cursor:pointer;
      background: url("../images/btn-zoom.png") no-repeat center;
   }



/* -- #viusal ----------------------------------------------------------- */


/* visual영역
1.높이 설정
2.background 이미지 삽입
3.위쪽경계선 그리기 */
#visual{
   height:171px;
   background:#313131 url("../images/bg-visual.png") no-repeat center;
   /* background:rgb(255,0,0); 10진수로 색표현 */
   border-top : 6px solid #8CBA34; 
   background-attachment:auto;
   background-attachment : fixed; 
  /*이 속성은 기본이 scroll이다. 스크롤을 내리면 배경화면이 올라가서 안보이게 된다. 
  fixed로 설정하면, 스크롤을 내려도 배경화면은 그대로이다.*/
 
  /* overflow: auto;    */ /* 영역 벗어나면 높이기준 스크롤 생성되고, 글이 길면 자동으로 다음 줄로 이동 */
}



/* -- #body ----------------------------------------------------------- */


#body{
   min-height:300px;
   border-top : 6px solid #8CBA34;
   margin-top: 1px;      
}

   #body .content-container{
      display : flex;
      min-height : inherit;
      
      /* display: -ms-grid;
      -ms-grid-rows : auto;
      -ms-grid-columns : 205px 755px; */
      background: url("../images/bg-body.png") repeat-y left top;
   }

/* -- #body안의 #aside ----------------------------------------------------------- */

#aside{
   width:285px;
   
   /* -ms-grid-row:1;
   -ms-grid-column:1; */
   
   /*float : left;
    height:inherit;
   width: 205px; */
   background:url("../images/bg-aside-title.png") no-repeat left top;
}

/* --  #body안의 #main ----------------------------------------------------------- */
#main{
   width:720px;
   padding-left: 25px;
   padding-top: 35px;
   
   /* -ms-grid-row:1;
   -ms-grid-column:2; */
   
   /* position : relative;
   float : left;
   margin-left : auto; 
   height: inherit;
   width : 755px; */
   
}

	/* "공지사항"보이는 곳 */
   #main > h2{
      font-family:맑은 고딕;
      font-size:21px;
      font-weight:bold;
      color: #646464;
      padding-left: 25px;
      background:url("../images/icon-main-title.png") no-repeat left;      
   }
   
   
   
/* ----#body안의 #main안의 #notices-search------------------ */
#notice-search input[type='submit']{
   text-indent:-999px;
   cursor:pointer;
   border:0px;
   width:49px;
   height:23px;
   background: url("../images/btn-search.png") no-repeat center; 	/* [검색]이미지 */
}



 /* ----#body안의 #main안의 #notices------------------ */
#notices{
   width:720px;
   border-top: 2px solid #8cba35;
   table-layout: fixed;
   width:100%;
}

#notices > thead > tr > th,
#notices > tbody > tr > td
{
   height: 30px;
   line-height: 30px;
   width: 100px;
   text-align: center;
   border: 1px solid #e9e9e9;
   border-collapse: collapse;
}

/* notices 테이블 첫번째와 다섯번째 열의 너비를 60px로 설정 */
#notices > thead > tr > th:nth-child(4n+1),
#notices > tbody > tr > td:nth-child(4n+1)
{
   width: 60px;
}

/* notices 테이블 두번째 열의 너비를 400px로 설정 */
#notices > thead > tr > th:nth-child(2),
#notices > tbody > tr > td:nth-child(2)
{
   width: 400px;
}


/* 첫행 column명들 앞에 이미지 |를 삽입해줌 */
#notices > thead > tr > th {
   background: #f5f5f5 url(../images/bg-title-sp.png)
               no-repeat left center;
   
}
/* 위에거 오버로딩해서 첫번째 column의|를 삽입해준 이미지를 빼고 색칠만 해줌 */
#notices > thead > tr > th : first-child{
   background: #f5f5f5;
}


/* table안의 글자가 영역을 벗어날 때 ...으로 표시되면서 개행이 되지 않게 해줌 */
#notices > tbody > tr > td:nth-child(2) {
   text-align:left;
   text-indent: 10px;
   white-space: nowrap; /* 글자가 정해진 영역을 벗어나도 줄바꿈없이 계속 한줄로 쓰여지게함 */
   overflow: hidden;	/* 글자가 영역벗어나지 않게  숨김 */
   text-overflow: ellipsis; /* 글자 숨길 때 ...으로 표시해서 숨김 (ellipsis 뜻: 생략)*/
}
   



/* -- #footer ----------------------------------------------------------- */
#footer{
   height:100px;
   background:#313131;
}


#test {
   height: 50px;
   width: 200px;
   top: 100px;
   left: 100px;
   position: absolute;
}